body{
    background-color: #fff1e1;
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
    text-align: left;

}

#header-wrapper{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#header-hero-text{
    margin: 40px;
}

#header-phone-email{
    font-family: roboto, sans-serif ;
}

#header-name-text{
    font-family: Inter, sans-serif;
    margin-top: 40px;
}

h1{
    font-family: League Spartan, sans-serif;
    font-weight: bold;
    font-size: 48px;   
}

#header-hero-text{
    font-family: Poppins, sans-serif;
}

#header-button-contactme{
    font-family: Inter, sans-serif;
    background-color: #2F2F2F;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding: 10px 28px;
    border-radius: 5px;
    margin-top: 20px;
}

#whatido-page-wrapper{
    display: flex;
    justify-content: center;
}

#whatido-wrapper{
    text-align: center;
    width: 800px;
    margin-top: 80px;
    margin-bottom: 40px;   
}

#whatido-header-small{
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #2858FF;
}

h2{
    font-family: League Spartan, sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#whatido-text{
    font-family: Poppins, sans-serif ;
    font-size: 18px;
}

#box-wrapper{
    display: flex;
    justify-content: center;
    column-gap: 1em;
    flex-wrap: wrap;
    align-content: flex-start;
}

.boxes{
    text-align: center;
    width: 340px;
    height: 291px;
    border-radius: 10px;

}

#box1{
    background-color: #FFFFFF;
    
}

#box2{
    background-color: #FFFFFF;
}

#box3{
    background-color: #FFFFFF;
}

#box1-header{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

#box2-header{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

#box3-header{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

#box1-text{
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #55206D;
    width: 300px;
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;
}

#box2-text{
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #55206D;
    width: 300px;
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;
}

#box3-text{
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #55206D;
    width: 300px;
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;
}